<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sierra Chapman</title>
</head>
<body>
    <h1>Sierra Chapman</h1>
    <a href="/">About Me</a>
    <a href="/projects">Featured Projects</a>
    {{{ body }}}
</body>
</html>