<h2>About Me</h2>

<div class="row">
    <div class="col-12 col-md-6">
        <img class="img-fluid text-center float-left" src="/assets/img/portrait.jpeg" alt="image of me" width="500">
    </div>
    <div class="col-12 col-md-6">
        <p>
            I am a web development student located in Pleasanton, CA. 
            I graduated B.S. in Physics from UC Davis in 2019, where I gained programming experience though using Python in astrophysics research. 
            I am currently studying full-stack web development the UC Berkeley Coding Bootcamp. 
            In my free time, I enjoy running, playing video games, and reading science fiction and fantasy.
        </p>
    </div>
</div>

<h3>Contact Info</h3>
<ul>
    <li><a href="https://github.com/SierraChapman">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/sierra-chapman">LinkedIn</a></li>
    <li><a href="mailto:siechap@gmail.com">Email</a></li>
    <li><a href="/assets/img/resume.pdf">Resume</a></li>
</ul>
