<h2>About Me</h2>

<img src="/assets/img/portrait.jpeg" alt="image of me" width="500">

<p>
    I am a web development student located in Pleasanton, CA. 
    I graduated B.S. in Physics from UC Davis in 2019, where I gained programming experience though using Python in astrophysics research. 
    I am currently studying full-stack web development the UC Berkeley Coding Bootcamp. 
    In my free time, I enjoy running, playing video games, and reading science fiction and fantasy.
</p>

<h2>Contact Info</h2>

<ul>
    <li><a href="https://github.com/SierraChapman">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/sierra-chapman">LinkedIn</a></li>
    <li><a href="mailto:siechap@gmail.com">Email</a></li>
    <li><a href="/assets/img/resume.pdf">Resume</a></li>
</ul>