/* Fonts */

h1 {
    font-family: 'Roboto Slab', serif;
    color: rgb(0, 65, 85);
}

h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', serif;
}

body {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(51, 51, 51);
}

/* Spacing and Positioning */

main {
    margin-top: 100px;
    max-width: 800px !important;
    margin-bottom: 100px;
}

h2 {
    padding-top: 32px;
    font-size: 48px;
    margin-bottom: 48px;
}

h3 {
    font-size: 32px;
    margin-top: 56px;
    margin-bottom: 32px;
}

h4 {
    font-size: 24px;
    margin-top: 32px;
    margin-bottom: 18px;
}

h2 {
    text-align: center;
}

p {
    margin-top: 18px;
    margin-bottom: 18px;
}

li {
    text-align: left;
}

.left-align {
    margin-left: 0px !important;
}

/* Navbar */

nav {
    background-color: rgba(255, 255, 256, 0.5);
    border-bottom: 1px solid rgba(50, 50, 50, 0.1);
}

/* Button styles */

.button-bright {
    color: white;
    background-color: rgb(177, 19, 116);
    border: 1px solid rgb(0, 80, 69);
    border-radius: 7px;
}

.button-bright:hover {
    color: white;
    background-color: rgb(155, 16, 102);
}

.button-dark {
    color: white;
    background-color: rgb(0, 65, 85);
    border: 1px solid black;
    border-radius: 7px;
}

.button-dark:hover {
    color: white;
    background-color: rgb(0, 41, 53);
}

a {
    color: rgb(177, 19, 116);
}

a:hover {
    color: rgb(155, 16, 102);
    text-decoration: none;
}

/* Other */

img {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}